@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese');
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/utilities/_float.scss';
//@import '~bootstrap/scss/mixins/_clearfix.scss';
//@import '~bootstrap/scss/utilities/_clearfix.scss';
//@import '~bootstrap/scss/imaegs';
//@import "~bootstrap/scss/mixins/_breakpoints";

@import './mixin/index.scss';
@import './variable.scss';
@import './utils.scss';
@import './button.scss';
@import './header.scss';
@import './footer.scss';
@import './section.scss';
@import './animation.scss';
//
//
// XS Size 0px <
//
//
@include media-breakpoint-up(xs) {
  //
  // Base
  //
  body {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
  }

  ol,
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  //
  // App Layout
  //
  .wrapper {
    padding-top: 56px;
  }
  //
  // Container
  //
  .container {
    //padding: 0 12px;
  }
  //
  // Fixed Flow
  //
  .fixed-flow {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;

    .fixed-flow-circle {
      display: block;
      width: 52px;
      height: 52px;
      padding: 12px;
      border-radius: 50%;
      background-color: $secondary;
      color: #fff;
    }

    .fixed-flow-inner {
      display: flex;
      align-items: center;
      background-color: #fff;
      text-align: center;
      .txt {
        width: 100%;
        display: block;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1;
        padding: 12px 0;
        color: #333;
      }

      .icon {
        width: 56px;
        height: 48px;
        padding: 6px 8px 8px 8px;
        background: $primary;
        vertical-align: top;
      }
    }
  }

  .ss {
    height: 500px;
    padding: 0 40px;
  }
  .sailing-scroll-down {
    display: inline-block;
    position: relative;
    min-width: 1px;
    height: 100%;

    .txt {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      transform: rotateZ(90deg) translateX(100%) translateY(100%);
      transform-origin: right top;
      letter-spacing: 0.1em;
      font-weight: 500;
      font-size: 10px;
      user-select: none;
    }

    .arrow {
      position: relative;
      display: block;
      width: 1px;
      height: 100%;
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #000;
        transform-origin: left top;
        animation: sailingScrollDown 3.2s infinite ease-in;
      }
    }
  }
}

@-webkit-keyframes sailingScrollDown {
  0% {
    transform: scaleY(0) translateY(0);
  }
  35% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: translateY(100%);
  }
}
//
// SM Size 576px <
//
@include media-breakpoint-up(sm) {
  //
  // Container
  //
  .container {
    padding: 0 24px;
  }
}
//
// MD Size 768px <
//
@include media-breakpoint-up(md) {
  //
  // App Layout
  //
  .wrapper {
    padding-top: 76px;
  }
  //
  // Container
  //
  .container {
    //padding: 0 40px;
  }
  //
  // Fixed Flow
  //
  .fixed-flow {
    display: none;
  }
}
//
// LG Size 992px <
//
@include media-breakpoint-up(lg) {
}
//
// XL Size 1200px <
//
@include media-breakpoint-up(xl) {
}
