@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese');
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/_forms.scss';
@import '~bootstrap/scss/utilities/_float.scss';
//@import '~bootstrap/scss/mixins/_clearfix.scss';
//@import '~bootstrap/scss/utilities/_clearfix.scss';
//@import '~bootstrap/scss/imaegs';
//@import "~bootstrap/scss/mixins/_breakpoints";
@import './mixin/index.scss';
@import './variable.scss';
@import './utils.scss';
@import './button.scss';
@import './header.scss';
@import './footer.scss';
@import './section.scss';
@import './animation.scss';
@import './container.scss';
@import './pages.scss';
@import './form.scss';
@import './caroucel.scss';
@import './facility.scss';
@import './entries.scss';
@import './company.scss';
@import './category.scss';
//
// Loading
//
.loading {
  position: relative;
  padding: 40px;

  &:before {
    content: '';
    display: block;
    width: 240px;
    max-width: 80%;
    height: 1px;
    background: #e84118;
    margin: 0 auto;
    transform-origin: left;
    animation: arrows 0.6s infinite;
    animation-iteration-count: infinite;
    -webkit-animation: arrows 0.6s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  }

  @keyframes arrows {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    50.001% {
      transform-origin: right;
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }
}

//
//
// XS Size 0px <
//
//
@include media-breakpoint-up(xs) {
  .rotation-wrapper-outer {
    display: table;
  }
  .rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
  }
  .element-to-rotate {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
       transform instead of this one. */
    transform: rotate(-90deg) translate(-100%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;

    /* Not vital, but possibly a good idea if the element you're rotating contains
       text and you want a single long vertical line of text and the pre-rotation
       width of your element is small enough that the text wraps: */
    white-space: nowrap;
  }
  //
  // Base
  //
  body {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 100%;
  }

  ol,
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a,
  a:hover {
    text-decoration: none;
  }
  //
  // Brand
  //
  .brand {
    display: inline-block;
    line-height: 1;
    height: 20px;

    svg {
      height: 100%;

      .cls-2 {
        fill: #e84118;
      }
    }
  }
  //
  // App Layout
  //
  .wrapper {
    padding-top: 56px;
  }
  //
  // Container
  //
  .container-fluid {
    padding: 0 8vw;
  }

  .main-container {
    position: relative;
    background: #fff;
    margin: -8vw 0 0 8vw;
    padding: 8vw;
    z-index: 1;
  }
  //
  // Fixed Flow
  //
  .fixed-flow {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;

    .fixed-flow-circle {
      display: block;
      width: 52px;
      height: 52px;
      padding: 12px;
      border-radius: 50%;
      background-color: $secondary;
      color: #fff;
    }

    .fixed-flow-inner {
      display: flex;
      align-items: center;
      background-color: #fff;
      text-align: center;
      .txt {
        width: 100%;
        display: block;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1;
        padding: 12px 0;
        color: #333;
      }

      .icon {
        width: 56px;
        height: 48px;
        padding: 6px 8px 8px 8px;
        background: $primary;
        vertical-align: top;
      }
    }
  }

  .sailingScrollDown {
    position: relative;
    color: #fff;

    &__inner {
      padding: 50% 0;
      height: 0;
    }

    &__txt {
      position: relative;
      display: block;
      transform-origin: center left;
      transform: rotate(90deg) translate(-50%, -50%);
      white-space: nowrap;
      letter-spacing: 0.25em;
      font-weight: 400;
      font-size: 12px;
      user-select: none;
      line-height: 1;
    }

    &__arrow {
      position: relative;
      display: inline-block;
      width: 1px;
      height: 120px;
      overflow: hidden;
      left: 4px;
      padding: 12px 0 0 0;

      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #fff;
        transform-origin: left top;
        animation: sailingScrollDown 2.4s infinite ease-in;
      }
    }

    &.feature {
      color: #e84118;
      .sailingScrollDown__arrow {
        &:after {
          background-color: #e84118;
        }
      }
    }
  }
  //
  // XS
  // Read  MOre
  //
  .read-more-link {
    display: block;
    position: relative;
    padding: 48px 0 0 0;
    cursor: pointer;

    span {
      display: block;
      color: #a4b0be;
      transition: all 0.3s linear;
    }

    .en {
      font-size: 10px;
    }

    .ja {
      margin: 4px 0 0 0;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 23.5px;
      width: 100%;
      height: 1px;
    }

    &:before {
      background-color: #a4b0be;
    }

    &:after {
      z-index: 1;
      background-color: #e84118;
      transform: scaleX(0);
      transition: all 0.3s ease-in;
      transform-origin: top left;
    }

    &:hover {
      span {
        color: #e84118;
      }

      &:after {
        transform: scaleX(1);
      }
    }
  }
  //
  // XS
  // Contact Banner
  //
  .contact-banner {
    position: relative;
    padding: 80px 0;
    background-color: #a4b0be;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .message {
      position: relative;
      text-align: left;
      z-index: 2;
      span {
        display: block;
        line-height: 1;
        user-select: none;

        &.ja {
          font-size: 1rem;
          font-weight: 500;
        }

        &.en {
          font-size: 4rem;
          font-weight: 100;
          margin: 12px 0 0 0;
          letter-spacing: 0.05em;
          text-indent: -0.05em;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform-origin: top left;
      transform: scaleX(0);
      transition: 0.25s all ease-in;
      background: #e84118;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }

    svg {
      display: inline-block;
      height: 40px;
      fill: #fff;
      stroke: #fff;
      animation: swing 1.2s ease-in-out -2s infinite;
    }
  }
}
//
// Recent Entries
//
.topEntry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vw;
  line-height: 8vw;
  padding: 0 20px;
  &__link {
    color: #e84118;
    line-height: 1;
  }
}
//
// Recent Entries
//
.sectionRecentEntries {
  position: relative;
  padding-left: 8vw;
  padding-right: 8vw;
}

.recent-entries {
  width: 100%;
}

@-webkit-keyframes sailingScrollDown {
  0% {
    transform: scaleY(0) translateY(0);
  }
  35% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: translateY(100%);
  }
}
//
// SM Size 576px <
//
@include media-breakpoint-up(sm) {
  //
  // Container
  //
  .container {
    padding: 0 24px;
  }

  .container-fluid {
    padding: 0 6vw;
  }
}
//
// MD Size 768px <
//
@include media-breakpoint-up(md) {
  //
  // App Layout
  //
  .wrapper {
    padding-top: 76px;
  }
  //
  // Container
  //
  .container {
    //padding: 0 40px;
  }
  //
  // Fixed Flow
  //
  .fixed-flow {
    display: none;
  }
}
//
// LG Size 992px <
//
@include media-breakpoint-up(lg) {
}
//
// XL Size 1200px <
//
@include media-breakpoint-up(xl) {
}
