@import './variable';
@import './mixin/index.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/flex';

//
// XS Size 0px <
//
@include media-breakpoint-up(xs) {
  //
  // Home Visual
  //
  .home-visual {
    .hero-image {
      opacity: 0;
      transition: opacity 0.4s 0.6s ease-in;
    }
    //
    // Slick Slider
    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-image {
      height: 100%;
    }

    .slick-slide {
      > div {
        height: 100%;
      }

      .slick-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 5s linear;
        transform: scale(1.1, 1.1);
      }

      &:nth-child(1) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/xs/1.jpg');
        }
      }

      &:nth-child(2) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/xs/2.jpg');
        }
      }

      &:nth-child(3) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/xs/3.jpg');
        }
      }

      &:nth-child(4) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/xs/4.jpg');
        }
      }
    }
  }

  .homeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__primary {
      width: 100%;
      min-height: 132px;
      display: flex;
      justify-content: center;
      margin: 0 0 24px 0;
    }
  }

  .primaryMessage {
    position: fixed;
    left: 16vw;
    bottom: 12vw;
    width: 100%;
    color: #e84118;

    &__title {
      width: 100%;
      font-weight: 700;
      margin: 0 0 12px 0;
      letter-spacing: 0em;
      font-size: 0;

      span {
        font-size: 2rem;
        display: table;
        opacity: 0;
        transform: translateY(12px);
        line-height: 1;
        padding: 4px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &:nth-child(1) {
          font-weight: 400;
        }
      }
    }

    &__description {
      width: 100%;
      font-weight: 500;
      margin: 0;
      font-size: 0;

      span {
        font-size: 12px;
        display: table;
        opacity: 0;
        transform: translateY(12px);
        line-height: 1;
        padding: 4px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
  }

  .primary-fix {
    .primaryMessage {
      position: static;
      left: 0;
      bottom: 0;
    }
  }

  .secondaryMessage {
    width: 100%;
    p {
      font-size: 1rem;
      margin: 2rem 0 0 0;
      font-weight: 700;

      &:first-child {
        margin: 0;
      }
    }
  }

  .in {
    .hero-image {
      opacity: 1;
    }

    .slick-slide {
      &.slick-active {
        .slick-image {
          transform: scale(1, 1);
        }
      }
    }

    .primaryMessage {
      &__title {
        span {
          &:nth-child(1) {
            transform: translateY(0);
            opacity: 1;
            transition: opacity 0.3s 1s ease-in, transform 0.3s 1s ease-in;
          }

          &:nth-child(2) {
            transform: translateY(0);
            opacity: 1;
            transition: opacity 0.3s 1.2s ease-in, transform 0.3s 1.2s ease-in;
          }
        }
      }

      &__description {
        span {
          &:nth-child(1) {
            transform: translateY(0);
            opacity: 1;
            transition: opacity 0.3s 1.6s ease-in, transform 0.3s 1.6s ease-in;
          }

          &:nth-child(2) {
            transform: translateY(0);
            opacity: 1;
            transition: opacity 0.3s 1.8s ease-in, transform 0.3s 1.8s ease-in;
          }
        }
      }
    }
  }
  //
  // Service Item / Service List - XS
  //
  .service-item {
    position: relative;

    &:first-child {
      margin: 0;
    }

    .service-image {
      position: relative;
      margin: 0 -8vw 0 -8vw;
      background: #dfe4ea;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transform: translateY(4vw);

      img {
        width: 100%;
      }
    }

    .service-summary {
      display: block;
      position: relative;
      top: -8vw;
      background-color: #fff;
      padding: 32px 24px 24px 24px;
      opacity: 0;
      box-shadow: -6px 6px 6px #dfe4ea;

      .index {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 12px;
        color: #e84118;
        margin: 0 0 24px 0;

        .number {
          display: inline-block;
          letter-spacing: 0.1em;
        }

        &:after {
          content: '';
          width: 80px;
          height: 1px;
          margin: 0 0 0 4px;
          background: #e84118;
        }
      }

      .summary-title {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: #3d3d3d;
        line-height: 1;
      }

      .summary-description {
        font-size: 1.3rem;
        font-weight: 300;
        margin: 0;
        color: #3d3d3d;

        br {
          display: none;
        }
      }

      .read-more {
        position: relative;
        padding: 48px 0 0 0;
        span {
          display: block;
          color: #a4b0be;
          transition: all 0.3s linear;
        }

        .en {
          font-size: 10px;
        }

        .ja {
          margin: 4px 0 0 0;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 23.5px;
          width: 100%;
          height: 1px;
        }

        &:before {
          background-color: #a4b0be;
        }

        &:after {
          z-index: 1;
          background-color: #e84118;
          transform: scaleX(0);
          transition: all 0.3s ease-in;
          transform-origin: top left;
        }
      }

      &:hover {
        .read-more {
          span {
            color: #e84118;
          }

          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
    //
    //
    // XS
    // Service Item / EVEN
    &:nth-child(odd) {
      .service-image {
        margin: 0 -8vw 0 -8vw;
      }

      .service-summary {
        left: auto;
        box-shadow: 6px 6px 6px #dfe4ea;
      }
    }

    &.in {
      .service-image {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease-in, transform 0.3s ease-in;
      }
      .service-summary {
        opacity: 1;
        transition: opacity 0.6s 0.3s ease-in;
      }
    }
  }
  //
  // Section About
  //
  .section-about {
    .about-image {
      svg {
        width: 160px;
      }
    }
  }

  //
  // Recent Entries
  //
  .recent-entries {
    width: 100%;
  }

  .recent-entry-list {
    .recent-entry-item {
      position: relative;
      border-bottom: 1px solid #ced6e0;
      padding: 24px 0;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #e84118;
        z-index: 1;
        transform: scaleX(0);
        transition: 0.3s all ease-in;
        transform-origin: top left;
      }

      .recent-entry-link {
        width: 100%;
        color: #333;

        .recent-entry-meta {
          font-size: 0.8rem;
          margin: 0 0 4px 0;
          font-weight: 400;
          color: #ccc;
          transition: 0.3s all linear;
        }

        .recent-entry-body {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .label {
          display: inline-block;
          background-color: #000;
          color: #fff;
          padding: 4px 8px;
          line-height: 1;
        }

        .title {
          font-weight: 100;
          font-size: 1.5rem;
        }

        .arrow {
          position: relative;
          display: inline-block;
          padding-right: 24px;
          &:before,
          &:after {
            content: '';
            position: absolute;
            right: 0;
            display: block;
            width: 16px;
            height: 1px;
            background: #333;
          }
          &:before {
            transform: rotateZ(45deg) translateX(-50%);
            top: 50%;
          }
          &:after {
            transform: rotateZ(-45deg) translateX(-50%);
            bottom: 50%;
          }
        }
      }

      .eyecatch {
        padding-right: 12px;

        .image {
          width: 80px;
          height: 80px;
        }
      }

      .entry-meta {
        width: 100%;

        .name {
          font-weight: 700;
          color: #333;
        }

        .cat {
          display: block;
          color: $secondary;
          font-weight: 500;
          font-size: 0.8rem;
          margin: 4px 0 0 0;
        }
      }

      &:hover {
        .recent-entry-meta {
          color: #e84118;
        }

        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
  //
  // Info Summary
  //
  .info-summary {
    width: 100%;
    height: 100%;

    .info-summary-link {
      color: #fff;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 24px;

      .title {
        margin: 0 0 12px 0;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.2em;
        color: $secondary;
      }

      .message {
        span {
          display: block;
          font-size: 1.3rem;
          line-height: 2em;
        }
      }

      .btn-read-more {
        width: 100%;
        text-align: left;
      }

      &:hover {
        .btn-read-more {
          .txt {
            color: $primary;
          }
        }
      }
    }
  }
}
//
// SM Size 576px <
//
@include media-breakpoint-up(sm) {
}

//
// MD Size 768px <
//
@include media-breakpoint-up(md) {
  //
  // Home Visual
  //
  .home-visual {
    //
    // Home Visual Slide
    .slick-slide {
      &:nth-child(1) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/md/1.jpg');
        }
      }

      &:nth-child(2) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/md/2.jpg');
        }
      }

      &:nth-child(3) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/md/3.jpg');
        }
      }

      &:nth-child(4) {
        .slick-image {
          background-image: url('http://horiguchi-seni.com/static/images/caroucel/md/4.jpg');
        }
      }
    }
  }
  //
  // MD
  // Home Message
  .homeMessage {
    flex-direction: row;

    &__primary {
      width: 100%;
      display: inline-block;
      margin: 0;
    }
  }

  .primaryMessage {
    margin: 0;

    &__title {
      line-height: 1.1em;
      span {
        font-size: 4rem;
      }
    }

    &__description {
      span {
        font-size: 14px;
      }
    }
  }

  .secondaryMessage {
    padding: 80px;
    p {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  //
  // Service Item - MD
  //
  .service-item {
    padding: 6vw 0 2vw 8vw;

    &:nth-child(odd) {
      padding: 6vw 8vw 2vw 0;
      .service-summary {
        left: auto;
        right: 0;

        .index {
          left: 6vw;
          right: auto;
          transform-origin: top left;
        }
      }

      .service-image {
        margin: 0;
      }
    }
    .service-image {
      margin: 0;
    }

    .service-summary {
      width: 40vw;
      padding: 90px 8vw;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-30%);

      .index {
        position: absolute;
        top: 90px;
        left: 36vw;
        margin: 0;
        transform: rotateZ(90deg);
        transform-origin: top left;

        .number {
          display: inline-block;
        }
      }

      .summary-description {
        font-size: 2rem;
        font-weight: 300;
        margin: 0;
        color: #3d3d3d;

        br {
          display: block;
        }
      }
    }
  }
}
//
// LG Size 992px <
//
@include media-breakpoint-up(lg) {
}
//
// XL Size 1200px <
//
@include media-breakpoint-up(xl) {
}
