@import './variable';
@import './mixin/index.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/flex';

//
// XS Size 0px <
//
@include media-breakpoint-up(xs) {
  //
  // Home Visual
  //
  .home-visual {
    .hero-image {
      opacity: 0;
      transition: opacity 0.4s 0.6s ease-in;
    }
    //
    // Slick Slider
    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-image {
      height: 100%;
    }

    .slick-slide {
      > div {
        height: 100%;
      }

      .slick-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 5s linear;
        transform: scale(1.1, 1.1);
      }

      &:nth-child(1) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/xs/1.jpg');
        }
      }

      &:nth-child(2) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/xs/2.jpg');
        }
      }

      &:nth-child(3) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/xs/3.jpg');
        }
      }

      &:nth-child(4) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/xs/4.jpg');
        }
      }
    }
    //
    // Home Visual COntent
    .home-visual-content {
      position: absolute;
      left: 6vw;
      bottom: 6vw;
      right: 0;
      padding-right: 6vw;
      color: #fff;

      .title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3em;
        margin: 0 0 12px 0;
        letter-spacing: 0em;

        span {
          display: block;
          opacity: 0;
          transform: translateY(12px);

          &:nth-child(1) {
            font-weight: 400;
          }
        }
      }

      .description {
        font-weight: 400;
        line-height: 1.8;
        margin: 0;
        font-size: 12px;

        span {
          display: block;
          opacity: 0;
          transform: translateY(12px);
        }
      }

      .sailing-scroll-down {
        position: absolute;
        top: 0;
        right: 6vw;
        right: calc(6vw + 10px);

        .arrow {
          &:after {
            background-color: #fff;
          }
        }
      }
    }
    //
    // Home Visual - In Effect
    &.in {
      .hero-image {
        opacity: 1;
      }

      .home-visual-content {
        .title {
          span {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            &:nth-child(1) {
              transition: opacity 0.3s 1s ease-in, transform 0.3s 1s ease-in;
              transform: translateY(0);
              opacity: 1;
            }

            &:nth-child(2) {
              transition: opacity 0.3s 1.2s ease-in, transform 0.3s 1.2s ease-in;
              transform: translateY(0);
              opacity: 1;
            }
          }
        }

        .description {
          span {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            &:nth-child(1) {
              transition: opacity 0.3s 1.6s ease-in, transform 0.3s 1.6s ease-in;
              transform: translateY(0);
              opacity: 1;
            }

            &:nth-child(2) {
              transition: opacity 0.3s 1.8s ease-in, transform 0.3s 1.8s ease-in;
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }

      .slick-slide {
        &.slick-active {
          .slick-image {
            transform: scale(1, 1);
          }
        }
      }
    }
  }
  //
  // About Message
  //
  .about-message {
    max-width: 768px;
    margin: 0 auto;

    p {
      font-size: 1rem;
      margin: 1rem 0 0 0;
      font-weight: 700;

      &:first-child {
        margin: 0;
      }
    }
  }

  .main-content {
    background-color: #f9f9f9;
    padding: 80px 8vw;
  }
  //
  // Service Story / Service List - XS
  //
  .service-item {
    position: relative;
    margin: 40px 0 0 0;

    &:first-child {
      margin: 0;
    }

    .service-image {
      position: relative;
      margin: 0 -8vw 0 0;
      background: #dfe4ea;
      background-size: cover;
      background-position: center;

      img {
        width: 100%;
      }
    }

    .service-summary {
      position: relative;
      top: -8vw;
      left: -8vw;
      background-color: #fff;
      padding: 32px 24px 24px 24px;

      .index {
        display: none;

        .number {
          display: inline-block;
        }

        &:after {
          display: none;
          content: '';
          position: absolute;
          left: 0;
          width: 1px;
          height: 100%;
          background: #e84118;
        }
      }

      .summary-title {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: #3d3d3d;
        line-height: 1;
      }

      .summary-description {
        font-size: 2rem;
        font-weight: 300;
        margin: 12px 0 0 0;
        color: #3d3d3d;

        br {
          display: none;
        }
      }

      .read-more {
        position: relative;
        padding: 48px 0 0 0;

        &:before {
          content: '';
          position: absolute;
          top: 23.5px;
          width: 100%;
          height: 1px;
          background-color: #dfe4ea;
        }
      }
    }
    //
    //
    // XS
    // Service Item / EVEN
    &:nth-child(odd) {
      .service-image {
        margin: 0 0 0 -8vw;
      }

      .service-summary {
        left: auto;
        right: -8vw;
      }
    }
  }
  //
  // Section About
  //
  .section-about {
    .about-image {
      svg {
        width: 160px;
      }
    }
  }

  //
  // Recent Entries
  //
  .recent-entries {
    width: 100%;
  }

  .recent-entry-list {
    .recent-entry-item {
      border-bottom: 1px solid #dfe4ea;
      padding: 24px 0;

      .recent-entry-link {
        width: 100%;
        color: #333;

        .recent-entry-body {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .date {
          font-size: 0.8rem;
          margin: 0 0 4px 0;
          font-weight: 400;
          color: #ccc;
        }

        .label {
          display: inline-block;
          background-color: #000;
          color: #fff;
          padding: 4px 8px;
          line-height: 1;
        }

        .title {
          font-weight: 100;
          font-size: 1.5rem;
        }

        .arrow {
          position: relative;
          display: inline-block;
          padding-right: 24px;
          &:before,
          &:after {
            content: '';
            position: absolute;
            right: 0;
            display: block;
            width: 16px;
            height: 1px;
            background: #333;
          }
          &:before {
            transform: rotateZ(45deg) translateX(-50%);
            top: 50%;
          }
          &:after {
            transform: rotateZ(-45deg) translateX(-50%);
            bottom: 50%;
          }
        }
      }

      .eyecatch {
        padding-right: 12px;

        .image {
          width: 80px;
          height: 80px;
        }
      }

      .entry-meta {
        width: 100%;

        .name {
          font-weight: 700;
          color: #333;
        }

        .cat {
          display: block;
          color: $secondary;
          font-weight: 500;
          font-size: 0.8rem;
          margin: 4px 0 0 0;
        }
      }

      &:last-child {
        border: 0;
      }
    }
  }
  //
  // Info Summary
  //
  .info-summary {
    width: 100%;
    height: 100%;

    .info-summary-link {
      color: #fff;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 24px;

      .title {
        margin: 0 0 12px 0;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.2em;
        color: $secondary;
      }

      .message {
        span {
          display: block;
          font-size: 1.3rem;
          line-height: 2em;
        }
      }

      .btn-read-more {
        width: 100%;
        text-align: left;
      }

      &:hover {
        .btn-read-more {
          .txt {
            color: $primary;
          }
        }
      }
    }
  }
}
//
// SM Size 576px <
//
@include media-breakpoint-up(sm) {
}

//
// MD Size 768px <
//
@include media-breakpoint-up(md) {
  //
  // Home Visual
  //
  .home-visual {
    //
    // Home Visual Slide
    .slick-slide {
      &:nth-child(1) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/md/1.jpg');
        }
      }

      &:nth-child(2) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/md/2.jpg');
        }
      }

      &:nth-child(3) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/md/3.jpg');
        }
      }

      &:nth-child(4) {
        .slick-image {
          background-image: url('https://0401morita.github.io/horiguchi-seni/static/images/caroucel/md/4.jpg');
        }
      }
    }

    //
    // Home Visual COntent
    .home-visual-content {
      .title {
        font-size: 4rem;
        line-height: 1.1em;
      }

      .description {
        font-size: 14px;
      }
    }
  }
  //
  // About Message
  //
  .about-message {
    padding: 80px 0;
    p {
      font-size: 2rem;
      margin: 1rem 0 0 0;
      font-weight: 700;
    }
  }

  //
  // Service Item - MD
  //
  .service-item {
    padding: 6vw 0 6vw 12vw;

    &:nth-child(odd) {
      padding: 6vw 9.375vw 6vw 0;
      .service-summary {
        left: auto;
        right: 0;
      }

      .service-image {
        margin: 0 0 0 -8vw;
      }
    }

    .service-summary {
      width: 40vw;
      padding: 90px 8vw;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-30%);

      .index {
        position: absolute;
        left: 6vw;
        height: 80px;
        padding-left: 4px;
        font-weight: 700;
        font-size: 12px;
        color: #e84118;

        .number {
          display: inline-block;
          transform: rotateZ(90deg);
        }
      }

      .summary-description {
        font-size: 2rem;
        font-weight: 300;
        margin: 12px 0 0 0;
        color: #3d3d3d;

        br {
          display: block;
        }
      }
    }
  }
}
//
// LG Size 992px <
//
@include media-breakpoint-up(lg) {
}
//
// XL Size 1200px <
//
@include media-breakpoint-up(xl) {
}
