.entry-content {
  font-size: 1rem;
  font-weight: 300;
}

.entry-content p,
.entry-content li {
  line-height: 1.476;
}

.entry-content h1,
.entry-content h2,
.entry-content h3 {
  margin: 6rem auto 3rem;
}

.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 4.5rem auto 2.5rem;
}

/* Clearing ---------------------------------- */
.entry-content::after {
  clear: both;
  content: '';
  display: block;
}

/* Accessibility Settings -------------------- */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

/* -------------------------------------------------------------------------- */

/*	2. Element Base
/* ---------------------------------------------*---------------------------- */

main {
  display: block;
}

.faux-heading {
  font-feature-settings: 'lnum';
  font-variant-numeric: lining-nums;
  font-weight: 700;
  letter-spacing: -0.0415625em;
  line-height: 1.25;
  margin: 3.5rem 0 2rem;
}

h1,
.heading-size-1 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.138888889;
}

h2,
.heading-size-2 {
  font-size: 3.2rem;
}

h3,
.heading-size-3 {
  font-size: 2.8rem;
}

h4,
.heading-size-4 {
  font-size: 2.4rem;
}

.heading-size-5 {
  font-size: 2.1rem;
}

.heading-size-6 {
  font-size: 1.6rem;
  letter-spacing: 0.03125em;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

em,
i,
q,
dfn {
  font-style: italic;
}

em em,
em i,
i em,
i i,
cite em,
cite i {
  font-weight: bolder;
}

big {
  font-size: 1.2em;
}

small {
  font-size: 0.75em;
}

b,
strong {
  font-weight: 700;
}

ins {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr,
acronym {
  cursor: help;
}

address {
  line-height: 1.5;
  margin: 0 0 2rem 0;
}

hr {
  border-style: solid;
  border-width: 0.1rem 0 0 0;
  border-color: #dcd7ca;
  margin: 4rem 0;
}

.entry-content hr,
hr.styled-separator {
  background: linear-gradient(
    to left,
    currentColor calc(50% - 16px),
    transparent calc(50% - 16px),
    transparent calc(50% + 16px),
    currentColor calc(50% + 16px)
  );
  background-color: transparent !important;
  border: none;
  height: 0.1rem;
  overflow: visible;
  position: relative;
}

.entry-content hr:not(.has-background),
hr.styled-separator {
  color: #6d6d6d;
}

.entry-content hr::before,
.entry-content hr::after,
hr.styled-separator::before,
hr.styled-separator::after {
  background: currentColor;
  content: '';
  display: block;
  height: 1.6rem;
  position: absolute;
  top: calc(50% - 0.8rem);
  transform: rotate(22.5deg);
  width: 0.1rem;
}

.entry-content hr::before,
hr.styled-separator::before {
  left: calc(50% - 0.5rem);
}

.entry-content hr::after,
hr.styled-separator::after {
  right: calc(50% - 0.5rem);
}

/* Lists ------------------------------------- */

.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
  list-style: none;
  margin: 0;
}

.reset-list-style li {
  margin: 0;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: 700;
}

dt + dd {
  margin-top: 0.5rem;
}

dd + dt {
  margin-top: 1.5rem;
}

/* Quotes ------------------------------------ */

blockquote {
  border-color: #cd2653;
  border-style: solid;

  /*rtl:ignore*/
  border-width: 0 0 0 0.2rem;
  color: inherit;
  font-size: 1em;
  margin: 4rem 0;

  /*rtl:ignore*/
  padding: 0.5rem 0 0.5rem 2rem;
}

cite {
  color: #6d6d6d;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

blockquote cite {
  display: block;
  margin: 2rem 0 0 0;
}

blockquote p:last-child {
  margin: 0;
}

/* Code -------------------------------------- */

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.4rem 0.6rem;
}

code,
kbd,
samp {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 0.2rem;
}

pre {
  border: 0.1rem solid #dcd7ca;
  line-height: 1.5;
  margin: 4rem 0;
  overflow: auto;
  padding: 3rem 2rem;
  text-align: left;
}

pre code {
  background: transparent;
  padding: 0;
}

/* Media ------------------------------------- */

figure {
  display: block;
  margin: 0;
}

iframe {
  display: block;
  max-width: 100%;
}

video {
  display: block;
}

svg,
img,
embed,
object {
  display: block;
  height: auto;
  max-width: 100%;
}

figcaption,
.wp-caption-text {
  color: #6d6d6d;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.5rem;
}

figcaption a,
.wp-caption-text a {
  color: inherit;
}

/* GALLERIES */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 0 3em -0.8em;
  width: calc(100% + 1.6em);
}

.gallery-item {
  margin: 0.8em 0;
  padding: 0 0.8em;
  width: 100%;
}

.gallery-caption {
  display: block;
  margin-top: 0.8em;
}

/* -------------------------------------------------------------------------- */

/*	3. Helper Classes
/* -------------------------------------------------------------------------- */

/* Layout ------------------------------------ */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.screen-height {
  min-height: 100vh;
}

.admin-bar .screen-height {
  min-height: calc(100vh - 32px);
}

@media (max-width: 782px) {
  .admin-bar .screen-height {
    min-height: calc(100vh - 46px);
  }
}

.screen-width {
  position: relative;
  left: calc(50% - 50vw);
  width: 100vw;
}

/* Toggles ----------------------------------- */

.toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: inherit;
  user-select: none;
}

button.toggle {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: inherit;
  padding: 0;
  text-transform: none;
}

/* Hiding and Showing ------------------------ */

.js .show-js {
  display: block !important;
}

.js .hide-js {
  display: none !important;
}

.no-js .show-no-js {
  display: block !important;
}

.no-js .hide-no-js {
  display: none !important;
}

/* Typography -------------------------------- */

.font-size-xl {
  font-size: 1.25em;
}

.font-size-xs {
  font-size: 0.8em;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* To The Content ---------------------------- */

.to-the-content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 0.5rem);
}

.to-the-content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 4rem;
  text-decoration: none;
}

.to-the-content svg {
  height: 2rem;
  transition: transform 0.15s linear;
  transform: translateY(0);
  width: 1.767rem;
}

.to-the-content:focus svg,
.to-the-content:hover svg {
  transform: translateY(20%);
}

/* -------------------------------------------------------------------------- */

/*	7c. Template: Full Width
/* -------------------------------------------------------------------------- */

body.template-full-width
  .entry-content
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
body.template-full-width
  [class*='__inner-container']
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 120rem;
}

body.template-full-width .entry-content .alignleft,
body.template-full-width .entry-content .alignright {
  position: static;
}

body.template-full-width .entry-content .alignleft,
body.template-full-width
  [class*='wp-block'].alignwide
  [class*='__inner-container']
  > .alignleft,
body.template-full-width
  [class*='wp-block'].alignwide
  [class*='__inner-container']
  > p
  .alignleft,
body.template-full-width
  [class*='wp-block'].alignwide
  [class*='__inner-container']
  > .wp-block-image
  .alignleft {
  /*rtl:ignore*/
  margin-left: 0;
  position: static;
}

body.template-full-width .entry-content > .alignleft,
body.template-full-width
  [class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .alignleft,
body.template-full-width
  [class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > p
  .alignleft,
body.template-full-width
  [class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .wp-block-image
  .alignleft {
  /*rtl:ignore*/
  margin-left: 2rem;
  position: static;
}

body.template-full-width .entry-content .alignright,
body.template-full-width
  [class*='wp-block'].alignwide
  [class*='__inner-container']
  > .alignright,
body.template-full-width
  [class*='wp-block'].alignwide
  [class*='__inner-container']
  > p
  .alignright,
body.template-full-width
  [class*='wp-block'].alignwide
  [class*='__inner-container']
  > .wp-block-image
  .alignright {
  /*rtl:ignore*/
  margin-right: 0;
  position: static;
}

body.template-full-width .entry-content > .alignright,
body.template-full-width
  [class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .alignright,
body.template-full-width
  [class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > p
  .alignright,
body.template-full-width
  [class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .wp-block-image
  .alignright {
  /*rtl:ignore*/
  margin-right: 2rem;
  position: static;
}

/* -------------------------------------------------------------------------- */

/*	8. Post: Archive
/* -------------------------------------------------------------------------- */

/* Archive Header ---------------------------- */

.archive-header {
  background-color: #fff;
  padding: 4rem 0;
}

.reduced-spacing .archive-header {
  padding-bottom: 2rem;
}

.archive-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.026666667em;
  margin: 0;
}

.archive-subtitle p:last-child {
  margin-bottom: 0;
}

/* Posts ------------------------------------- */

body:not(.singular) main > article:first-of-type {
  padding: 4rem 0 0;
}

/* Search Results ---------------------------- */

.no-search-results-form {
  padding-top: 5rem;
}

/* -------------------------------------------------------------------------- */

/*	9. Post: Single
/* -------------------------------------------------------------------------- */

/* Post Header ------------------------------- */

.singular .entry-header {
  background-color: #fff;
  padding: 4rem 0;
}

.entry-categories {
  line-height: 1.25;
  margin-bottom: 2rem;
}

.entry-categories-inner {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem 0 0 -1rem;
}

.entry-categories a {
  border-bottom: 0.15rem solid currentColor;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.036666667em;
  margin: 0.5rem 0 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.entry-categories a:focus,
.entry-categories a:hover {
  border-bottom-color: transparent;
}

/* -------------------------------------------------------------------------- */

/*	10. Blocks
/* -------------------------------------------------------------------------- */

/* Block Colors ------------------------------ */

.has-text-color a {
  color: inherit;
}

/* CUSTOM COLORS */

:root .has-accent-color {
  color: #cd2653;
}

:root .has-accent-background-color {
  background-color: #cd2653;
  color: #fff;
}

:root .has-primary-color {
  color: #000;
}

:root .has-primary-background-color {
  background-color: #000;
  color: #f5efe0;
}

:root .has-secondary-color {
  color: #6d6d6d;
}

:root .has-secondary-background-color {
  background-color: #6d6d6d;
  color: #fff;
}

:root .has-subtle-background-color {
  color: #dcd7ca;
}

:root .has-subtle-background-background-color {
  background-color: #dcd7ca;
  color: #000;
}

:root .has-background-color {
  color: #f5efe0;
}

:root .has-background-background-color {
  background-color: #f5efe0;
  color: #000;
}

/* Block Typography Classes ------------------ */

.has-text-align-left {
  /*rtl:ignore*/
  text-align: left;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-drop-cap:not(:focus)::first-letter {
  color: #cd2653;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    sans-serif;
  font-size: 5.1em;
  font-weight: 800;
  margin: 0.05em 0.1em 0 0;
}

.has-drop-cap:not(:focus)::first-letter::after {
  content: '';
  display: table;
  clear: both;
}

.has-drop-cap:not(:focus)::after {
  padding: 0;
}

/* Block Font Families ----------------------- */

.has-drop-cap:not(:focus)::first-letter,
.entry-content .wp-block-archives,
.entry-content .wp-block-categories,
.entry-content .wp-block-cover-image,
.entry-content .wp-block-latest-comments,
.entry-content .wp-block-latest-posts,
.entry-content .wp-block-pullquote,
.entry-content .wp-block-quote.is-large,
.entry-content .wp-block-quote.is-style-large {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    sans-serif;
}

@supports (font-variation-settings: normal) {
  .has-drop-cap:not(:focus)::first-letter,
  .entry-content .wp-block-archives,
  .entry-content .wp-block-categories,
  .entry-content .wp-block-latest-posts,
  .entry-content .wp-block-latest-comments,
  .entry-content .wp-block-cover-image p,
  .entry-content .wp-block-pullquote {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont,
      'Helvetica Neue', Helvetica, sans-serif;
  }
}

/* Block Font Sizes -------------------------- */

.entry-content .has-small-font-size {
  font-size: 0.842em;
}

.entry-content .has-normal-font-size,
.entry-content .has-regular-font-size {
  font-size: 1em;
}

.entry-content .has-medium-font-size {
  font-size: 1.1em;
  line-height: 1.45;
}

.entry-content .has-large-font-size {
  font-size: 1.25em;
  line-height: 1.4;
}

.entry-content .has-larger-font-size {
  font-size: 1.5em;
  line-height: 1.3;
}

/* Block: Base Margins ----------------------- */

*[class*='_inner-container'] > *:first-child {
  margin-top: 0;
}

*[class*='_inner-container'] > *:last-child {
  margin-bottom: 0;
}

.wp-block-archives:not(.alignwide):not(.alignfull),
.wp-block-categories:not(.alignwide):not(.alignfull),
.wp-block-code,
.wp-block-columns:not(.alignwide):not(.alignfull),
.wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull),
.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-media-text:not(.alignwide):not(.alignfull),
.wp-block-preformatted,
.wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-verse,
.wp-block-video:not(.alignwide):not(.alignfull) {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* Block: Shared Nesting Alignment Resets ---- */

[class*='__inner-container']
  .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
[class*='__inner-container']
  .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
  margin-left: auto;
  margin-right: auto;
  max-width: 58rem;
}

/* Block: Shared Widget Styles --------------- */

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts,
.wp-block-latest-comments {
  list-style: none;
  margin-left: 0;
}

.wp-block-archives ul,
.wp-block-categories ul,
.wp-block-latest-posts ul,
.wp-block-latest-comments ul {
  list-style: none;
}

.entry-content .wp-block-archives > li,
.entry-content .wp-block-categories > li,
.entry-content .wp-block-latest-posts > li,
.entry-content .wp-block-latest-comment > li {
  margin-left: 0;
}

.entry-content .wp-block-archives > li:last-child,
.entry-content .wp-block-categories > li:last-child,
.entry-content .wp-block-latest-posts > li:last-child,
.entry-content .wp-block-latest-comment > li:last-child {
  margin-bottom: 0;
}

.entry-content .wp-block-archives *,
.entry-content .wp-block-categories *,
.entry-content .wp-block-latest-posts *,
.entry-content .wp-block-latest-comments * {
  font-family: inherit;
}

.entry-content .wp-block-archives li,
.entry-content .wp-block-categories li,
.entry-content .wp-block-latest-posts li {
  color: #6d6d6d;
}

.wp-block-archives a,
.wp-block-categories a,
.wp-block-latest-posts a,
.wp-block-latest-comments a {
  font-weight: 700;
  text-decoration: none;
}

.wp-block-archives a:hover,
.wp-block-categories a:hover,
.wp-block-latest-posts a:hover,
.wp-block-latest-comments a:hover,
.wp-block-archives a:focus,
.wp-block-categories a:focus,
.wp-block-latest-posts a:focus,
.wp-block-latest-comments a:focus {
  text-decoration: underline;
}

.wp-block-latest-posts a,
.wp-block-latest-comments__comment-meta {
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.25;
}

.wp-block-latest-comments__comment-date,
.wp-block-latest-posts__post-date {
  color: #6d6d6d;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: normal;
  margin-top: 0.15em;
}

/* Block: Shared Media Styles ---------------- */

.wp-block-embed figcaption,
.wp-block-image figcaption {
  color: #6d6d6d;
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

/* Block: Audio ------------------------------ */

.wp-block-audio audio {
  width: 100%;
}

/* Block: Button ----------------------------- */

.wp-block-button {
  margin: 3rem 0;
}

.wp-block-button.is-style-outline {
  color: #cd2653;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: inherit;
}

.is-style-outline .wp-block-button__link {
  padding: calc(1.1em - 0.2rem) calc(1.44em - 0.2rem);
}

/* Block: Columns ---------------------------- */

.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
  padding-left: 2rem;
  padding-right: 2rem;
}

.wp-block-column {
  margin-bottom: 3.2rem;
}

.wp-block-column > *:first-child {
  margin-top: 0;
}

.wp-block-column > *:last-child {
  margin-bottom: 0;
}

/* Block: Cover ------------------------------ */

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  width: 100%;
  padding: 2rem 0;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
  max-width: 100%;
  padding: 0;
}

.wp-block-cover-image h2,
.wp-block-cover h2 {
  font-size: 3.2rem;
}

/* Block: Embed ------------------------------ */

/* Block: File ------------------------------- */

.wp-block-file {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wp-block-file a:not(.wp-block-file__button) {
  font-weight: 700;
  text-decoration: none;
}

.wp-block-file a:not(.wp-block-file__button):not(:last-child) {
  margin-right: 1rem;
}

.wp-block-file a:not(.wp-block-file__button):focus,
.wp-block-file a:not(.wp-block-file__button):hover {
  text-decoration: underline;
}

.wp-block-file .wp-block-file__button {
  font-size: 1.5rem;
  padding: 1em 1.25em;
}

.wp-block-file a.wp-block-file__button:visited {
  opacity: 1;
}

.wp-block-file a.wp-block-file__button:active,
.wp-block-file a.wp-block-file__button:focus,
.wp-block-file a.wp-block-file__button:hover {
  opacity: 1;
  text-decoration: underline;
}

/* Block: Gallery ---------------------------- */

.wp-block-gallery ul {
  list-style: none;
  margin: 0 0 -1.6rem 0;
}

figure.wp-block-gallery.alignnone,
figure.wp-block-gallery.aligncenter {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

figure.wp-block-gallery.alignleft {
  margin: 0.3rem 2rem 2rem 0;
}

figure.wp-block-gallery.alignright {
  margin: 0.3rem 0 2rem 2rem;
}

figure.wp-block-gallery.alignwide {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

figure.wp-block-gallery.alignfull {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

/* Block: Group ------------------------------ */

.wp-block-group.has-background {
  padding: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.wp-block-group__inner-container {
  margin: 0 auto;
}

.wp-block-group__inner-container,
.entry-content .wp-block-group p {
  max-width: 100%;
}

.alignfull:not(.has-background)
  > .wp-block-group__inner-container
  > p:not(.has-background-color) {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Block: Image ------------------------------ */

/* Block: Media And Text --------------------- */

.wp-block-media-text .wp-block-media-text__content {
  padding: 3rem 2rem;
}

.wp-block-media-text .wp-block-media-text__content p {
  max-width: none;
}

.wp-block-media-text__content > *:first-child {
  margin-top: 0;
}

.wp-block-media-text__content > *:last-child {
  margin-bottom: 0;
}

/* Block: Pullquote -------------------------- */

/* STYLE: DEFAULT */

.wp-block-pullquote {
  padding: 0;
  position: relative;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  max-width: 100%;
}

.wp-block-pullquote::before {
  background: #fff;
  border-radius: 50%;
  color: #cd2653;
  content: '”';
  display: block;
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 auto 1.5rem auto;
  text-align: center;
  height: 4.4rem;
  width: 4.4rem;
}

.reduced-spacing .wp-block-pullquote::before {
  border: 0.1rem solid currentColor;
  font-size: 5.9rem;
}

.wp-block-pullquote blockquote {
  border: none;
  margin: 0;
  padding: 0;
}

.wp-block-pullquote blockquote p {
  font-family: inherit;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.178571429;
  letter-spacing: -0.041785714em;
  max-width: 100%;
}

.wp-block-pullquote p:last-of-type {
  margin-bottom: 0;
}

.wp-block-pullquote cite {
  color: #6d6d6d;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
  font-size: 2.8rem;
}

.wp-block-pullquote.alignleft {
  text-align: left;
}

.wp-block-pullquote.alignright {
  text-align: right;
}

.wp-block-pullquote.alignleft::before {
  margin-left: 0;
}

.wp-block-pullquote.alignright::before {
  margin-right: 0;
}

/* STYLE: SOLID BACKGROUND COLOR */

.wp-block-pullquote.is-style-solid-color {
  padding: 3rem 2rem;
}

.wp-block-pullquote.is-style-solid-color::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.wp-block-pullquote.is-style-solid-color.alignleft::before,
.wp-block-pullquote.is-style-solid-color.alignright::before {
  transform: translateY(-50%);
}

.wp-block-pullquote.is-style-solid-color.alignleft::before {
  left: 2rem;
}

.wp-block-pullquote.is-style-solid-color.alignright::before {
  left: auto;
  right: 2rem;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
  text-align: inherit;
}

.wp-block-pullquote.is-style-solid-color cite {
  color: inherit;
}

/* Block: Separator  ------------------------- */

hr.wp-block-separator {
  margin: 3rem 0;
}

/* STYLE: WIDE */

.wp-block-separator.is-style-wide {
  max-width: calc(100vw - 4rem);
  position: relative;
  width: 100%;
}

/* STYLE: DOTS */

.wp-block-separator.is-style-dots::before {
  background: none;
  color: inherit;
  font-size: 3.2rem;
  font-weight: 700;
  height: auto;
  letter-spacing: 1em;
  padding-left: 1em;
  position: static;
  transform: none;
  width: auto;
}

.wp-block-separator.is-style-dots::after {
  content: none;
}

/* Block: Search ----------------------------- */

.wp-block-search .wp-block-search__input {
  width: auto;
}

/* Block: Table ------------------------------ */

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background: #dcd7ca;
}

figure.wp-block-table.is-style-stripes {
  border-bottom: none;
}

.wp-block-table.is-style-stripes table {
  border-collapse: inherit;
}

/* Block: Quote ------------------------------ */

.wp-block-quote p,
.wp-block-quote cite {
  text-align: inherit;
}

.wp-block-quote[style='text-align:center'] {
  border-width: 0;
  padding: 0;
}

.wp-block-quote[style='text-align:right'] {
  /*rtl:begin:ignore*/
  border-width: 0 0.2rem 0 0;
  padding: 0 2rem 0 0;

  /*rtl:end:ignore*/
}

/* STYLE: LARGE */

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  border: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-family: inherit;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.285;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  font-size: 1.6rem;
  text-align: inherit;
}

/* Block: Widget Latest Comments ------------- */

.entry-content .wp-block-latest-comments li {
  margin: 2rem 0;
}

.has-avatars
  .wp-block-latest-comments__comment
  .wp-block-latest-comments__comment-excerpt,
.has-avatars
  .wp-block-latest-comments__comment
  .wp-block-latest-comments__comment-meta {
  margin-left: 5.5rem;
}

.entry-content .wp-block-latest-comments a {
  text-decoration: none;
}

.entry-content .wp-block-latest-comments a:hover,
.entry-content .wp-block-latest-comments a:focus {
  text-decoration: underline;
}

.wp-block-latest-comments__comment {
  font-size: inherit;
}

.wp-block-latest-comments__comment-date {
  margin-top: 0.4em;
}

.wp-block-latest-comments__comment-excerpt p {
  font-size: 0.7em;
  margin: 0.9rem 0 2rem 0;
}

/* Block: Widget Latest Posts ---------------- */

.wp-block-latest-posts.is-grid li {
  border-top: 0.2rem solid #dcd7ca;
  margin-top: 2rem;
  padding-top: 1rem;
}

.wp-block-latest-posts.has-dates {
  list-style: none;
}

.wp-block-latest-posts.has-dates:not(.is-grid) li {
  margin-top: 1.5rem;
}

.wp-block-latest-posts.has-dates:not(.is-grid) li:first-child {
  margin-top: 0;
}

/* -------------------------------------------------------------------------- */

/*	11. Entry Content
/* -------------------------------------------------------------------------- */

.entry-content {
  line-height: 1.5;
}

.entry-content > * {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.read-more-button-wrap {
  margin-top: 1em;
  text-align: center;
}

.entry-content a:hover,
.entry-content a:focus {
  text-decoration: none;
}

.entry-content p,
.entry-content li {
  line-height: 1.4;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 3.5rem auto 2rem;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin-bottom: 1rem;
}

.entry-content hr {
  margin: 4rem auto;
}

/* Font Families ----------------------------- */

.entry-content p,
.entry-content ol,
.entry-content ul,
.entry-content dl,
.entry-content dt {
  letter-spacing: normal;
}

.entry-content cite,
.entry-content figcaption,
.entry-content .wp-caption-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    sans-serif;
}

@supports (font-variation-settings: normal) {
  .entry-content cite,
  .entry-content figcaption,
  .entry-content .wp-caption-text {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont,
      'Helvetica Neue', Helvetica, sans-serif;
  }
}

/* Alignment Classes ------------------------- */

.entry-content
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 58rem;
  width: 100%;
}

[class*='__inner-container']
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 58rem;
  width: 100%;
}

.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
  margin-top: 4rem;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
}

[class*='__inner-container']
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
  margin-left: auto;
  margin-right: auto;
}

/* Full */

.alignfull {
  margin-top: 5rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  max-width: 100vw;
  position: relative;
  width: 100%;
}

[class*='__inner-container'] > .alignfull {
  max-width: 100%;
}

/* Wide */

.alignwide {
  max-width: 120rem;
  position: relative;
  width: 100%;
}

[class*='__inner-container'] > .alignwide {
  width: 100%;
}

/* Center */

.aligncenter,
.aligncenter img {
  margin-left: auto;
  margin-right: auto;
}

/* Left and right */

.alignleft,
.alignright {
  max-width: 50%;
}

.alignleft {
  /*rtl:ignore*/
  float: left;
  margin: 0.3rem 2rem 2rem 2rem;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  margin: 0.3rem 2rem 2rem 2rem;
}

[class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .alignleft,
[class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > p
  .alignleft,
[class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .wp-block-image
  .alignleft {
  /*rtl:ignore*/
  margin-left: 2rem;
}

[class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .alignright,
[class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > p
  .alignright,
[class*='wp-block'].alignfull:not(.has-background)
  [class*='__inner-container']
  > .wp-block-image
  .alignright {
  /*rtl:ignore*/
  margin-right: 2rem;
}

/* Entry Media ------------------------------- */

.alignfull > figcaption,
.alignfull > .wp-caption-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 58rem;
  width: 100%;
}

/* -------------------------------------------------------------------------- */

/*	17. Media Queries
/* -------------------------------------------------------------------------- */

@media (max-width: 479px) {
  /* Blocks -------------------------------- */
  .wp-block-pullquote.alignleft,
  .wp-block-pullquote.alignright {
    float: none;
  }
}

@media (min-width: 480px) {
  /* Blocks -------------------------------- */

  /* BLOCK: BASE ALIGNMENT WIDTH */

  .wp-block-pullquote.alignleft,
  .wp-block-pullquote.alignright,
  .wp-block-cover-image.alignleft,
  .wp-block-cover-image.alignright,
  .wp-block-cover.alignleft,
  .wp-block-cover.alignright,
  .wp-block-embed.alignleft,
  .wp-block-embed.alignright,
  .wp-block-gallery.alignleft,
  .wp-block-gallery.alignright {
    max-width: 26rem;
  }

  /* BLOCK: TABLE WIDTH */
  .wp-block-table.alignleft,
  .wp-block-table.alignright {
    max-width: 100%;
  }

  /* Entry Content ------------------------- */

  /* ALIGNMENT CLASSES */

  .alignleft,
  .alignright {
    max-width: 26rem;
  }
}

@media (max-width: 599px) {
  /* Blocks -------------------------------- */

  /* BLOCK: COLUMNS */

  /* While columns are stacked */
  .wp-block-column:last-child {
    margin-bottom: 0;
  }

  .wp-block-columns + .wp-block-columns {
    margin-top: 0.2rem;
  }

  .wp-block-columns.alignwide + .wp-block-columns.alignwide {
    margin-top: -0.8rem;
  }

  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -1.8rem;
  }
}

@media (min-width: 600px) {
  /* Blocks -------------------------------- */

  /* BLOCK: COLUMNS */

  .wp-block-columns.alignwide + .wp-block-columns.alignwide,
  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -4rem;
  }
}

@media (min-width: 660px) {
  /* Blocks -------------------------------- */

  /* BLOCK: GALLERY */

  figure.wp-block-gallery.alignleft {
    /*rtl:ignore*/
    margin-left: calc((100vw - 58rem - 8rem) / -2);
  }

  figure.wp-block-gallery.alignright {
    /*rtl:ignore*/
    margin-right: calc((100vw - 58rem - 8rem) / -2);
  }

  /* Entry Content ------------------------- */

  /* ALIGNMENT CLASSES */

  .entry-content > .alignleft {
    /*rtl:ignore*/
    margin-left: 4rem;
  }

  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft {
    /*rtl:ignore*/
    margin-left: calc((100vw - 58rem - 8rem) / -2);
  }

  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .alignleft,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > p
    .alignleft,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    margin-left: 0;
  }

  .entry-content > .alignright {
    /*rtl:ignore*/
    margin-right: 4rem;
  }

  .entry-content > p .alignright,
  .entry-content > .wp-block-image .alignright {
    /*rtl:ignore*/
    margin-right: calc((100vw - 58rem - 8rem) / -2);
  }

  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .alignright,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > p
    .alignright,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    /*rtl:ignore*/
    margin-right: 0;
  }
}

@media (min-width: 700px) {
  /* VANILLA GALLERIES */

  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }

  .gallery-columns-3 .gallery-item {
    max-width: 33.33%;
  }

  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }

  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }

  .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
  }

  .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
  }

  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }

  .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
  }

  /* TITLES */
  .heading-size-1,
  .heading-size-2,
  .heading-size-3 {
    margin: 6rem auto 3rem;
  }

  .heading-size-4,
  .heading-size-5,
  .heading-size-6 {
    margin: 4.5rem auto 2.5rem;
  }

  .heading-size-1 {
    font-size: 6.4rem;
  }

  .heading-size-2 {
    font-size: 4.8rem;
  }

  .heading-size-3 {
    font-size: 4rem;
  }

  .heading-size-4 {
    font-size: 3.2rem;
  }

  .heading-size-5 {
    font-size: 2.4rem;
  }

  .heading-size-6 {
    font-size: 1.8rem;
  }

  /* Template: Full Width ------------------ */

  body.template-full-width
    .entry-content
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: calc(100% - 8rem);
  }

  body.template-full-width
    .alignfull:not(.has-background)
    > .wp-block-group__inner-container
    > p:not(.has-background-color) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .alignleft,
  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > p
    .alignleft,
  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    margin-left: 4rem;
  }

  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .alignright,
  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > p
    .alignright,
  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    /*rtl:ignore*/
    margin-right: 4rem;
  }

  /* Post: Single -------------------------- */

  /* POST HEADER */

  .singular .entry-header {
    padding: 8rem 0;
  }

  .entry-categories {
    margin-bottom: 3rem;
  }

  .entry-categories-inner {
    margin: -1rem 0 0 -2rem;
  }

  .entry-categories a {
    font-size: 1.5rem;
    margin: 1rem 0 0 2rem;
  }

  .intro-text {
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  .singular .intro-text {
    font-size: 2.6rem;
  }

  .post-meta-wrapper {
    margin-top: 3rem;
  }

  .post-meta {
    font-size: 1.6rem;
    margin: -1.4rem 0 0 -3rem;
  }

  .post-meta li {
    margin: 1.4rem 0 0 3rem;
    max-width: calc(100% - 3rem);
  }

  .featured-media {
    margin-top: 6rem;
  }

  .post-inner {
    padding-top: 8rem;
  }

  /* POST FOOTER */

  .post-meta-wrapper.post-meta-single-bottom {
    margin-top: 4rem;
  }

  /* AUTHOR BIO */

  .author-bio {
    margin-top: 8rem;
    min-height: 8rem;
    padding-left: 10rem;
    position: relative;
  }

  .author-bio .avatar {
    position: absolute;
    left: 0;
    top: 0;
    height: 8rem;
    width: 8rem;
  }

  /* SINGLE PAGINATION */

  .pagination-single {
    font-size: 2.4rem;
    margin-top: 8rem;
  }

  .pagination-single-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .pagination-single.only-next .pagination-single-inner {
    justify-content: flex-end;
  }

  .pagination-single hr:first-child {
    margin: 0 0 4rem 0;
  }

  .pagination-single hr:last-child {
    margin: 4rem 0 0.8rem 0;
  }

  .pagination-single a + a {
    margin: 0 0 0 4rem;
  }

  .pagination-single a .arrow {
    margin: 0 2rem 0 0;
  }

  .pagination-single .next-post {
    flex-direction: row-reverse;
    text-align: right;
  }

  .pagination-single .next-post .arrow {
    margin: 0 0 0 2rem;
  }

  /* Blocks -------------------------------- */

  /* BLOCK: SHARED MEDIA STYLES */

  .wp-block-embed figcaption,
  .wp-block-image figcaption {
    font-size: 1.6rem;
  }

  /* BLOCK: BASE MARGINS */

  .wp-block-archives:not(.alignwide):not(.alignfull),
  .wp-block-categories:not(.alignwide):not(.alignfull),
  .wp-block-code,
  .wp-block-columns:not(.alignwide):not(.alignfull),
  .wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
  .wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
  .wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
  .wp-block-group:not(.has-background):not(.alignwide):not(.alignfull),
  .wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
  .wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright),
  .wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright),
  .wp-block-media-text:not(.alignwide):not(.alignfull),
  .wp-block-preformatted,
  .wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
  .wp-block-quote,
  .wp-block-quote.is-large,
  .wp-block-quote.is-style-large,
  .wp-block-verse,
  .wp-block-video:not(.alignwide):not(.alignfull) {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  /* BLOCK: COLUMNS */

  .wp-block-columns.alignwide + .wp-block-columns.alignwide,
  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -6rem;
  }

  .entry-content .wp-block-columns h1,
  .entry-content .wp-block-columns h2,
  .entry-content .wp-block-columns h3,
  .entry-content .wp-block-columns h4,
  .entry-content .wp-block-columns h5,
  .entry-content .wp-block-columns h6 {
    margin: 3.5rem 0 2rem;
  }

  /* BLOCK: COVER */

  .wp-block-cover-image .wp-block-cover__inner-container,
  .wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 8rem);
  }

  .wp-block-cover-image h2,
  .wp-block-cover h2 {
    font-size: 4.8rem;
  }

  /* BLOCK: GALLERY */

  figure.wp-block-gallery.alignnone,
  figure.wp-block-gallery.aligncenter {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  figure.wp-block-gallery.alignwide,
  figure.wp-block-gallery.alignfull {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }

  /* BLOCK: GROUP */

  .wp-block-group.has-background {
    padding: 4rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .alignfull:not(.has-background)
    > .wp-block-group__inner-container
    > p:not(.has-background-color) {
    padding-left: 0;
    padding-right: 0;
  }

  /* BLOCK: MEDIA AND TEXT */

  .wp-block-media-text .wp-block-media-text__content {
    padding: 4rem;
  }

  /* BLOCK: PULLQUOTE */

  .wp-block-pullquote blockquote p {
    font-size: 3.2rem;
  }

  .wp-block-pullquote cite {
    margin-top: 2rem;
  }

  .wp-block-pullquote.alignfull:not(.is-style-solid-color) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .wp-block-pullquote.alignwide::before,
  .wp-block-pullquote.alignfull::before {
    font-size: 11.272727272rem;
    height: 8rem;
    margin-bottom: 2rem;
    width: 8rem;
  }

  .wp-block-pullquote.alignwide blockquote p,
  .wp-block-pullquote.alignfull blockquote p {
    font-size: 4.8rem;
    line-height: 1.203125;
  }

  .wp-block-pullquote.alignleft p,
  .wp-block-pullquote.alignright p,
  .wp-block-pullquote.alignleft.is-style-solid-color blockquote p,
  .wp-block-pullquote.alignright.is-style-solid-color blockquote p {
    font-size: 3.2rem;
    line-height: 1.1875;
  }

  .wp-block-pullquote.is-style-solid-color.alignwide,
  .wp-block-pullquote.is-style-solid-color.alignfull {
    padding: 6rem 4rem 4rem;
  }

  .wp-block-pullquote.alignleft.is-style-solid-color blockquote p,
  .wp-block-pullquote.alignright.is-style-solid-color blockquote p {
    font-size: 2.6rem;
  }

  /* BLOCK: QUOTE */

  .wp-block-quote.is-large p,
  .wp-block-quote.is-style-large p {
    font-size: 2.8rem;
  }

  /* BLOCK: SEPARATOR */

  hr.wp-block-separator {
    margin: 6rem auto;
  }

  .wp-block-separator.is-style-wide {
    max-width: calc(100vw - 8rem);
  }

  /* Entry Content ------------------------- */

  .entry-content {
    font-size: 1.3rem;
  }

  .entry-content p,
  .entry-content li {
    line-height: 1.476;
  }

  .entry-content h1,
  .entry-content h2,
  .entry-content h3 {
    margin: 6rem auto 3rem;
  }

  .entry-content h4,
  .entry-content h5,
  .entry-content h6 {
    margin: 4.5rem auto 2.5rem;
  }

  .alignnone,
  .aligncenter {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .alignleft {
    /*rtl:ignore*/
    margin: 0.3rem 2rem 2rem 0;
  }

  .alignright {
    /*rtl:ignore*/
    margin: 0.3rem 0 2rem 2rem;
  }

  .entry-content > .alignwide:not(.wp-block-group.has-background),
  .entry-content > .alignfull:not(.wp-block-group.has-background) {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }

  .entry-content > .alignwide {
    max-width: calc(100vw - 8rem);
    width: calc(100vw - 8rem);
  }

  [class*='wp-block'].alignfull:not(.has-background)
    [class*='__inner-container']
    > .alignleft,
  [class*='wp-block'].alignfull:not(.has-background)
    [class*='__inner-container']
    > p
    .alignleft,
  [class*='wp-block'].alignfull:not(.has-background)
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    margin-left: 4rem;
  }

  [class*='wp-block'].alignfull:not(.has-background)
    [class*='__inner-container']
    > .alignright,
  [class*='wp-block'].alignfull:not(.has-background)
    [class*='__inner-container']
    > p
    .alignright,
  [class*='wp-block'].alignfull:not(.has-background)
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    /*rtl:ignore*/
    margin-right: 4rem;
  }

  /* ENTRY MEDIA */

  .alignfull > figcaption,
  .alignfull > .wp-caption-text {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 1000px) {
  /* Entry Content ------------------------- */

  /* ALIGNMENT CLASSES */

  .entry-content > .alignleft,
  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft {
    position: absolute;

    /*rtl:ignore*/
    right: calc((100vw - 58rem) / 2 + 58rem + 2rem);
    max-width: calc((100% - 58rem) / 2 - 6rem);
  }

  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .alignleft,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > p
    .alignleft,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    position: relative;

    /*rtl:ignore*/
    right: inherit;
    max-width: inherit;
  }

  [class*='wp-block'].alignwide [class*='__inner-container'] > .alignleft,
  [class*='wp-block'].alignwide [class*='__inner-container'] > p .alignleft,
  [class*='wp-block'].alignwide
    [class*='__inner-container']
    > .wp-block-image
    .alignleft,
  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignleft,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignleft,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    position: absolute;

    /*rtl:ignore*/
    right: calc((100% - 58rem) / 2 + 58rem + 4rem);
    max-width: calc((100% - 58rem) / 2 - 4rem);
  }

  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .alignleft,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > p
    .alignleft,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    right: calc((100% - 58rem) / 2 + 58rem);
  }

  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignleft,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignleft,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    margin-left: 4rem;
  }

  .entry-content > .alignright,
  .entry-content > p .alignright,
  .entry-content > .wp-block-image .alignright,
  [class*='__inner-container'] > .alignright {
    position: absolute;

    /*rtl:ignore*/
    left: calc((100vw - 58rem) / 2 + 58rem + 2rem);
    max-width: calc((100% - 58rem) / 2 - 6rem);
  }

  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .alignright,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > p
    .alignright,
  [class*='wp-block']:not(.alignwide):not(.alignfull)
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    position: relative;

    /*rtl:ignore*/
    left: inherit;
    max-width: inherit;
  }

  [class*='wp-block'].alignwide [class*='__inner-container'] > .alignright,
  [class*='wp-block'].alignwide [class*='__inner-container'] > p .alignright,
  [class*='wp-block'].alignwide
    [class*='__inner-container']
    > .wp-block-image
    .alignright,
  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignright,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignright,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    position: absolute;

    /*rtl:ignore*/
    left: calc((100% - 58rem) / 2 + 58rem + 4rem);
    max-width: calc((100% - 58rem) / 2 - 4rem);
  }

  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .alignright,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > p
    .alignright,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    /*rtl:ignore*/
    left: calc((100% - 58rem) / 2 + 58rem + 4rem);
  }

  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignright,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignright,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    /*rtl:ignore*/
    margin-right: 4rem;
  }

  .entry-content > .alignwide:not(.wp-block-group.has-background),
  .entry-content > .alignfull:not(.wp-block-group.has-background) {
    margin-bottom: 8rem;
    margin-top: 8rem;
  }

  /* ENTRY MEDIA */

  .alignfull > figcaption,
  .alignfull > .wp-caption-text {
    width: calc(100% - 10rem);
  }
}

@media (min-width: 1220px) {
  /* Element Base -------------------------- */

  /* TITLES */

  h1,
  .heading-size-1 {
    font-size: 8.4rem;
  }

  /* Helper Classes ------------------------ */

  /* Site Header --------------------------- */

  /* PRIMARY MENU */

  ul.primary-menu {
    margin: -0.8rem 0 0 -2.5rem;
  }

  .primary-menu > li {
    margin: 0.8rem 0 0 2.5rem;
  }

  /* HEADER TOGGLES */

  .primary-menu-wrapper + .header-toggles {
    margin-left: 4rem;
  }

  .header-toggles {
    margin-right: -4rem;
  }

  .header-toggles .toggle {
    padding: 0 4rem;
  }

  /* Menu Modal ---------------------------- */

  /* Search Modal -------------------------- */

  /* Sub Page ------------------------------ */

  /* Template: Cover Template -------------- */

  .cover-header + .post-inner {
    padding-top: 10rem;
  }

  /* Post: Archive ------------------------- */

  /* Post: Single -------------------------- */

  .singular .intro-text {
    font-size: 3.2rem;
    letter-spacing: -0.03125em;
    line-height: 1.375;
  }

  /* Blocks -------------------------------- */

  /* BLOCK: COLUMNS */

  .wp-block-columns.alignfull + .wp-block-columns.alignfull {
    margin-top: -6rem;
  }

  /* BLOCK: GALLERY */

  figure.wp-block-gallery.alignfull {
    margin-bottom: 10rem;
    margin-top: 10rem;
  }

  /* BLOCK: GROUP */

  .entry-content > .wp-block-group.alignwide.has-background,
  .entry-content > .wp-block-group.alignfull.has-background {
    padding: 8rem 6rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* BLOCK: PULLQUOTE */

  .wp-block-pullquote.alignwide blockquote p,
  .wp-block-pullquote.alignfull blockquote p {
    font-size: 6.4rem;
  }

  .wp-block-pullquote.is-style-solid-color.alignwide,
  .wp-block-pullquote.is-style-solid-color.alignfull {
    padding: 9rem 4rem 8rem;
  }

  /* Entry Content ------------------------- */

  /* ALIGNMENT CLASSES */

  .entry-content > .alignfull {
    margin-bottom: 10rem;
    margin-top: 10rem;
  }

  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .alignleft,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > p
    .alignleft,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    right: calc((100% - 58rem) / 2 + 58rem - 2rem);
  }

  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .alignright,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > p
    .alignright,
  [class*='wp-block'].alignwide.has-background
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    /*rtl:ignore*/
    left: calc((100% - 58rem) / 2 + 58rem + 6rem);
  }

  /* Comments ------------------------------ */

  .comment-reply-title {
    font-size: 5.6rem;
    line-height: 1.2;
    margin-bottom: 6rem;
  }

  .comment-respond p.comment-notes,
  .comment-respond p.logged-in-as {
    margin: -4rem 0 6rem 0;
  }

  .comments .comment-respond .comment-reply-title {
    font-size: 4.8rem;
  }

  .comments .comment-respond p.comment-notes,
  .comments .comment-respond p.logged-in-as {
    margin: -4.5rem 0 4rem 0;
  }

  /* Site Pagination ----------------------- */

  /* Widgets ------------------------------- */

  .widget-content {
    font-size: 1rem;
  }

  /* Site Footer --------------------------- */

  .footer-menu {
    font-size: 2.4rem;
    margin: -1.5rem 0 0 -3rem;
  }

  .footer-menu li {
    margin: 1.5rem 0 0 3rem;
  }

  ul.footer-social {
    margin: -1rem 0 0 -1rem;
  }

  ul.footer-social li {
    margin: 1rem 0 0 1rem;
  }

  .footer-social a {
    height: 4.4rem;
    width: 4.4rem;
  }

  .footer-social a::before {
    font-size: 2rem;
  }

  /* FOOTER WIDGETS */

  .footer-widgets-wrapper {
    margin-left: -6rem;
    width: calc(100% + 6rem);
  }

  .footer-widgets {
    margin-left: 6rem;
  }
}

@media (min-width: 1240px) {
  /* Blocks -------------------------------- */

  body.template-full-width .entry-content > .alignleft {
    /*rtl:ignore*/
    margin-left: calc((100vw - 120rem) / 2);
  }

  body.template-full-width .entry-content > .alignright {
    /*rtl:ignore*/
    margin-right: calc((100vw - 120rem) / 2);
  }
}

@media (min-width: 1280px) {
  /* Blocks -------------------------------- */

  /* BLOCK: GALLERY */

  figure.wp-block-gallery.alignleft {
    /*rtl:ignore*/
    margin-left: -31rem;
  }

  figure.wp-block-gallery.alignright {
    /*rtl:ignore*/
    margin-right: -31rem;
  }

  /* BLOCK: SEPARATOR */

  .wp-block-separator.is-style-wide {
    max-width: 120rem;
    width: 120rem;
  }

  /* Entry Content ------------------------- */

  /* ALIGNMENT CLASSES */

  .entry-content > .alignleft,
  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft {
    /*rtl:ignore*/
    right: calc((100vw - 58rem) / 2 + 58rem + 4rem);

    /*rtl:ignore*/
    margin-left: -31rem;
  }

  .entry-content > .alignright,
  .entry-content > p .alignright,
  .entry-content > .wp-block-image .alignright {
    /*rtl:ignore*/
    left: calc((100vw - 58rem) / 2 + 58rem + 4rem);

    /*rtl:ignore*/
    margin-right: -31rem;
  }

  .entry-content > .alignwide {
    max-width: 120rem;
    width: 120rem;
  }

  [class*='__inner-container'] > .alignwide {
    max-width: 120rem;
    width: 100%;
  }

  .alignleft,
  .alignright,
  .entry-content > .alignleft,
  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft,
  .entry-content > .alignright,
  .entry-content > p .alignright,
  .entry-content > .wp-block-image .alignright,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .alignleft,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > p
    .alignleft,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .wp-block-image
    .alignleft,
  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignleft,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignleft,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignleft,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .alignright,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > p
    .alignright,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .wp-block-image
    .alignright,
  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignright,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignright,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    max-width: 25rem;
  }

  /* Template: Full Width ------------------ */

  body.template-full-width
    .alignfull:not(.has-background)
    > .wp-block-group__inner-container
    > p:not(.has-background-color) {
    padding-left: 0;
    padding-right: 0;
  }

  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    margin-left: 0;
  }

  body.template-full-width
    [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    /*rtl:ignore*/
    margin-right: 0;
  }
}

@media (min-width: 1330px) {
  /* Entry Content ------------------------- */

  /* ALIGNMENT CLASSES */

  .alignleft,
  .alignright,
  .entry-content > .alignleft,
  .entry-content > p .alignleft,
  .entry-content > .wp-block-image .alignleft,
  .entry-content > .alignright,
  .entry-content > p .alignright,
  .entry-content > .wp-block-image .alignright,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .alignleft,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > p
    .alignleft,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .wp-block-image
    .alignleft,
  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignleft,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignleft,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignleft,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .alignright,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > p
    .alignright,
  [class*='wp-block'].alignwide:not(.has-background)
    [class*='__inner-container']
    > .wp-block-image
    .alignright,
  [class*='wp-block'].alignfull [class*='__inner-container'] > .alignright,
  [class*='wp-block'].alignfull [class*='__inner-container'] > p .alignright,
  [class*='wp-block'].alignfull
    [class*='__inner-container']
    > .wp-block-image
    .alignright {
    max-width: 29rem;
  }

  /* Blocks -------------------------------- */

  /* BLOCK: PULLQUOTE */

  .wp-block-pullquote.is-style-solid-color.alignleft::before,
  .wp-block-pullquote.is-style-solid-color.alignright::before {
    top: 0;
  }
}
