@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese');
@import '~bootstrap/scss/bootstrap';

/* Color Theme Swatches in Hex */
$My-Color-Theme-1-hex: #FFFFFF;
$h-color-red: #DA4741;
$h-color-gray: #B3B0A2;
$h-color-navy: #2C353F;
$h-color-beige: #DD7C37;

/* Color Theme Swatches in RGBA */
$My-Color-Theme-1-rgba: rgba(255,255,255, 1);
$My-Color-Theme-2-rgba: rgba(218,71,65, 1);
$My-Color-Theme-3-rgba: rgba(179,176,162, 1);
$My-Color-Theme-4-rgba: rgba(44,53,63, 1);
$My-Color-Theme-5-rgba: rgba(221,124,55, 1);

/* Color Theme Swatches in HSLA */
$My-Color-Theme-1-hsla: hsla(0, 0, 100, 1);
$My-Color-Theme-2-hsla: hsla(2, 67, 55, 1);
$My-Color-Theme-3-hsla: hsla(49, 10, 66, 1);
$My-Color-Theme-4-hsla: hsla(211, 17, 20, 1);
$My-Color-Theme-5-hsla: hsla(24, 70, 54, 1);

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}


/*
*
* XS < 0px - Breakpoint
*
*/
@include media-breakpoint-up(xs) {
/*
*
* Brand
*
*/
.brand {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #fff;
	white-space: nowrap;

	.color-scheme {
		margin-top: 4px;
	}
}

.color-scheme {
	overflow: hidden;

	span {
		float: left;
		display: inline-block;
		width: 25%;
		padding-bottom: 12.5%;

		&:nth-child(1){
			background-color: $h-color-red;
		}
		&:nth-child(2){
			background-color: $h-color-gray;
		}
		&:nth-child(3){
			background-color: $h-color-navy;
		}
		&:nth-child(4){
			background-color: $h-color-beige;
		}
	}
}
/*
*
* Header
*
*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	&.on-scroll {
		background-color: #fff;
	}

	.header-container {
		padding: 12px 15px;
	}

	.header-nav-contact {
		border-radius: 100%;
		padding: 6px;
		line-height: 1;

		.icon-envelope-dash {
			width: 24px;
			height: 24px;
			path {
				fill: #fff;
				stroke: #fff;
			}
		}
	}


	.global-nav-trigger {
		position: relative;
		width: 48px;
		height: calc(48px - 12px);
		margin-left: 12px;

		span {
			position: absolute;
			right: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;

			&:nth-child(1) {
				width: 50%;
				top: 0;
				animation: scaleX 2.4s ease-in infinite backwards;
			}

			&:nth-child(2) {
				width: 75%;
				top: 50%;
				margin-top: -1px;
				animation: scaleX 2.4s ease-in .2s infinite backwards;

			}

			&:nth-child(3) {
				bottom: 0;
				animation: scaleX 2.4s ease-in .4s infinite backwards;

			}
		}
	}
}
@keyframes scaleX {
	0%  { 
		transform: scaleX(0);
		opacity: 0;
		transform-origin: top right;
	}

	15% {
		transform: scaleX(1);
		opacity: 1;
		transform-origin: top left;

	}

	85% {
		transform: scaleX(1);
		opacity: 1;
		transform-origin: top left;
	}

	100%  { 
		transform: scaleX(0);
		opacity: 0;
		transform-origin: top right;
	}
}
/*
*
* Section
*
*/
.section {
	padding: 48px 0;
}
/*
*
* Cover
*
*/
.cover {
	position: relative;
	height: 100vh;
	background-color:#f1f1f1;

	.image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url(/images/home-cover01.jpg);
		background-size: cover;
		background-position: center;
	}

	.copy {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width:100%;
		padding: 15px;

		.copy-message {
			margin: 0;
			font-size: 2rem;
			font-weight: 700;
			line-height: 1.6;
			color: $h-color-red;

			br {
				display: none;
			}
		}

		.copy-link {
			margin-top: 12px;
		}
	}

	.cover-scrolldown {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 1px;
		height: 100px;
		background-color: #fff;
		overflow: hidden;

		.point {
			display: inline-block;
			width: 12px;
			height: 12px;
			position: absolute;
			top: 0;
			left: -6px;
			background-color: #fff;
			border-radius: 50%;
			animation: scroll-down-navi ease-in-out 1.5s infinite backwards;
		}
	}

	.progress-circle-bar {
		position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
		z-index: 1;
		animation: wrap_on4 1s ease-in-out 1.5s infinite forwards;		


		.pregress-circle-inner {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			transform: rotate(-90deg);

			> svg {
				width:100%;
				height:100%;
				margin:0;
				padding:0;

				> circle {
					width:100%;
					height:100%;
					margin:0;
					padding:0;
					fill:transparent;
					stroke:rgba(0,0,0,1);
					stroke-width:2;
					stroke-dasharray:0 434;
					animation:line_on0 6.5s linear forwards;
				}
			}
		}
	}
}
/*
*
* SM < 576px - Breakpoint
*
*/
@include media-breakpoint-up(sm) {}
/*
*
* MD < 768px - Breakpoint
*
*/
@include media-breakpoint-up(md) {}
/*
*
* LG < 992px - Breakpoint
*
*/
@include media-breakpoint-up(lg) {}
/*
*
* XL < 1200px - Breakpoint
*
*/
@include media-breakpoint-up(xl) {}

/*
*
* Ul & Li
*
*/
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}
/*
*
* Button
*
*/
button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

.btn {
	&.btn-rounded {
		border-radius: 25px;
	}

	&.btn-h-red {
		border-color: $h-color-red;
		color: $h-color-red;
	}

	&.btn-white {
		border-color: #fff;
		color: #fff;
	}
}

/*
*
* Global Navi
*
*/
.global-nav {
	display: none;
}

	@keyframes line_on0 {
		0% { stroke-dasharray:0 435; }
		100% { stroke-dasharray:435 435; }
	}

	@keyframes wrap_on4 {
		0% { opacity:0; }
		100% { opacity:1; }
	}

	.carousel-counter {
		position: absolute;
		top: 50%;
		right: 12%;
		transform: translateY(-50%);
		color: #fff;
		text-align: center;

		.current,
		.total {
			font-size: 3rem;
			font-weight: 100;
		}

		.current {
			&:after {
				content: 'ï¼';
			}
		}

		.total {
		}
	}
}

@keyframes rotate-circle-right {
	0%   {
			transform: rotate(0deg);
			background: #999;
	}
	50%  {
			transform: rotate(180deg);
			background: #999;
	}
	50.01% {
			transform: rotate(360deg);
			background: #333;
	}
	100% {
			transform: rotate(360deg);
			background: #333;
	}
}

@keyframes rotate-circle-left {
	0%   { transform: rotate(0deg); }
	50%  { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}
/*
*
* Animation
*
*/
@keyframes scroll-down-navi {
	0%   { 
		transform: translateY(0) scale(1);
	}
	100%  { 
		transform: translateY(100px) scale(1.5); 
	}
}
//
// Scale Animation


@keyframes rotate-circle-left {
	0%   { transform: rotate(0deg); }
	50%  { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}